@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=PT+Sans+Caption:wght@700&display=swap');

body {
    background-color: #ffd899;
}

.image {
    margin-left: 2%;
    width: 96%;
    height: 45%;
}

.menu {
    font-size: 4.3vw;
    font-family: 'Caveat', cursive;
    width: 86vw;
    height: 12vw;
    margin-left: 7%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c_text {
    margin-top: 3%;
    width: 86vw;
    margin-left: 7%;
    font-size: 3vw;
    font-family: 'PT Sans Caption', sans-serif;
}

.text {
    width: 86vw;
    margin-left: 7%;
    font-size: 1.7vw;
    font-family: 'PT Sans Caption', sans-serif;
}

.content {
    margin-left: 5%;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row {
    margin-top: 3vw;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pic {
    width: 30%;
}

img {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .row {
        margin-top: 3vw;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .c_text {
        margin-top: 3%;
        width: 20vw;
        margin-left: 40%;
        font-size: 6vw;
    }

    .text {
        font-size: 2.2vw;
    }

    .pic {
        width: 70%;
    }
